body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

hr {
  border: dotted grey 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

.intro {
  width: 30%;
  margin: auto;}

h1 {
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
}

h2 {
  padding-bottom: 10px;
  font-weight: normal;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
    color: #66BFBF;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

p {
  line-height: 2;
}


.top-container {
  background-color: #EAF6F6;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  margin: 100px 0;
}


.bottom-container {
  background-color: #66BFBF;
  width: 100%;
  height: 100px;
}

.pro {
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}




a {
  margin-bottom: 50px;
  color: #120136;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}


.skill-row {
  text-align: left;
  width: 50%;
  margin: 100px auto 100px auto;
}

.Videoediting-img {
  width: 70%;
  float: left;
  margin-right: 30px;
}

.Cricket-img {
  width: 50%;
  float: right;
  margin-left: 30px;
}

.clear {
  clear: left;
}





.classname {
  margin-left: 90px;
  margin-bottom: 70px;
  background-color: rgba(51,51,51,.8);
  border-radius:6px;
  text-indent:0;
  display:inline-block;
  color:#ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size:15px;
  font-weight:bold;
  font-style:normal;
  height:50px;
  line-height:50px;
  width:140px;
  transition: ease-in 0.25s;
}

.classname:hover {
  background-color: rgb(27, 27, 27);
  color: #fff;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
